/*-------- GOOGLE FONTS --------------*/
@import url("https://fonts.googleapis.com/css2?family-Poppins:wght@400;500;600&display-swap");


/*--------------- CSS Variables ---------------*/
:root {
  --header-height: 3.5rem;

    /*---------- Color Themes ----------*/
    /* https://colors.dopely.top/color-pedia */
    /*Color mode using HSL (hue, saturation, lightness)*/
    /*
      Purple: hsl(250, 66%, 75%)
      Blue: hsl(207, 90%, 72%)
      Pink: hsl(356, 66%, 75%)
      Teal: hsl(174, 63%, 62%)
      Pink theme: 340, 339
      Purple theme: 250, 219
    */
  --first-hue: 340;
  --sat: 66%;
  --lig: 75%;
  --second-hue: 339;
  --first-color: hsl(var(--first-hue), var(--sat), var(--lig));
  --first-color-alt: hsl(var(--first-hue), var(--sat), 71%); /* -4% */
  --title-color: hsl(var(--second-hue), 15%, 95%);
  --text-color: hsl(var(--second-hue), 8%, 75%);
  --text-color-light: hsl(var(--second-hue), 4%, 55%);
  --body-color: hsl(var(--second-hue), 48%, 8%);
  --container-color: hsl(var(--second-hue), 32%, 12%);

  /*---------- Font Sizings ----------*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: 'Cute Font', sans-serif;
  --biggest-font-size: 2.75rem;
  --h1-font-size: 2.5rem;
  --h2-font-size: 2.25rem;
  --h3-font-size: 2rem;
  --normal-font-size: 1.838rem;
  --small-font-size: 1.713rem;
  --smaller-font-size: 1.75rem;
  --tiny-font-size: 1.625rem;

  /*---------- Font weight ----------*/
  --font-medium: 500;
  --font-semibold: 600;

  /*---------- z index ----------*/
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;
}

/* --------------Responsive Font Sizings-------------- */
@media screen and (min-width: 968px) { /* applied when viewport 968px wide*/
  :root {
    --biggest-font-size: 3.5rem;
    --h1-font-size: 3.25rem;
    --h2-font-size: 2.5rem;
    --h3-font-size: 2.25rem;
    --normal-font-size: 2rem;
    --small-font-size: 1.875rem;
    --smaller-font-size: 1.813rem;
  }
}

/*--------------- BASE ---------------*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  letter-spacing: 1.5px;
}

html {
  scroll-behavior: smooth;
}

body,
button,
input,
textarea {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

body {
  background-color: var(--body-color);
  color: var(--text-color);
  transition: .4s; /* for light mode animation */
}

h1, h2, h3 {
  color: var(--title-color);
  font-weight: var(--font-semibold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--text-color-light);
}
a:hover {
  color: var(--first-color);
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*--------------- THEME ---------------*/


/*---------- Variables Dark theme ----------*/


/*---------- Color changes in some parts of the website, in light theme ----------*/


/*--------------- REUSABLE CSS CLASSES ---------------*/
.container {
  max-width: 968px;
  margin-left: 1rem;
  margin-right: 1rem;
}

.grid {
  display: grid;
  gap: 1.25rem;
}

.main {
  overflow: hidden;
}

.section {
  padding: 4.5rem 0 1rem;
}

.section__title, 
.section__subtitle {
  text-align: center;
}

.section__title {
  font-size: var(--h2-font-size);
  color: var(--first-color);
  margin-bottom: 2rem;
}

.section__subtitle {
  display: block;
  font-size: var(--smaller-font-size);
  color: var(--text-color-light);
}

/*--------------- HEADER & NAV---------------*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  /* height: var(--header-height);  */
  background-color: var(--body-color);
  z-index: var(--z-fixed);
}


.nav {
  height: var(--header-height);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav__logo {
  color: var(--first-color);
  font-weight: var(--font-medium);
  transition: .4s;
}

.nav__logo:hover {
  color: var(--first-color-alt);
}

.nav__menu {
  position: fixed;
  bottom: 1rem;
  background-color: hsla(var(--second-hue), 32%, 16%, .8);
  width: 90%;
  border-radius: 4rem;
  padding: 1rem 2.25rem;
  backdrop-filter: blur(.2rem);
}

.nav__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav__link {
  display: flex;
  color: var(--text-color);
  font-size: 1.25rem;
  padding: .4rem;
  border-radius: 5rem;
}

.nav__link:hover {
  color: var(--first-color);
}

/* Active Link */
.active-link {
  /* background: linear-gradient(180deg, 
  hsla(var(--first-hue),var(--sat),var(--lig), 1), 
  hsla(var(--first-hue),var(--sat),var(--lig), .2)); */
  /* color: var(--first-color); */
  box-shadow: 0 0 30px hsla(var(--first-hue),var(--sat),var(--lig), .5);
}

/* Change backgroud header */
.scroll-header{
  box-shadow: 0 4px 4px hsla(0, 0%, 4%, .3);
}


/*--------------- HOME ---------------*/
.home__container {
  padding-top: 2rem;
  position: relative;
  row-gap: 4.5rem;

}

.home__data {
  text-align: center;
} 

.home__greeting, .home__designation {
  font-size: var(--small-font-size);
  font-weight: var(--font-medium);
}

.home__greeting {
  margin-bottom: .5rem;
  display: block;
  color: var(--title-color);
}

.home__designation {
  color: var(--text-color);
  margin-top: .35rem;
  margin-bottom: 2.5rem;
}

.home__name {
  font-size: var(--biggest-font-size);
  color: var(--first-color);
  font-weight: var(--font-semibold);
}

.home__image {
  width: 160px;
} 

.home__handle {
  display: flex;
  width: 160px;
  height: 290px;
  justify-self: center;
  background: linear-gradient(180deg, 
              hsla(var(--first-hue),var(--sat),var(--lig), 1), 
              hsla(var(--first-hue),var(--sat),var(--lig), .2));
  border-radius: 10rem 10rem 1rem 1rem;
  align-items: flex-end;
  justify-content: center;
  overflow: hidden;
}

.home__button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.home__social, .home__scroll {
  position: absolute;
}

.home__social{
    bottom: 5rem;
    left: 0;
    display: grid;
    row-gap: 1rem;
}

.home__social-link{
    width: max-content;
    color: var(--first-color);
    background-color: var(--container-color);
    padding: .25rem;
    border-radius: .25rem;
    display: flex;
    font-size: 1rem;
    transition: .4s;
}

.home__social-link:hover{
    color: var(--title-color);
    /* background-color: var(--first-color); */
}

.home__social::after{
  content: '';
  width: 32px;
  height: 2px;
  background-color: var(--first-color);
  transform: rotate(90deg) translate(16px, 3px);
}


.home__scroll {
  color: var(--first-color);
  right: -1.5rem;
  bottom: 4rem;
  display: grid;
  row-gap: 2.25rem;
  justify-items: center;
}

.home__scroll-icon{
  font-size: 1.25rem;
  margin-bottom: 1.2rem;
  margin-left: .5rem;
}

.home__scroll-name{
  font-size: var(--small-font-size);
  transform: rotate(-90deg);
}
 




/*--------------- BUTTONS ---------------*/
.button{
  display: inline-block;
  background-color: var(--first-color);
  color: var(--body-color);
  padding: .75rem 1rem;
  border-radius: .5rem;
  font-weight: var(--font-medium);
  transition: .4s;
}

.button:hover{
  background-color: var(--first-color-alt);
  color: var(--body-color);
}

.button--ghost{
  background-color: transparent;
  border: 2px solid var(--first-color);
  color: var(--first-color);
}




/*--------------- ABOUT ---------------*/
.about__container {
  row-gap: 2.5rem;
}

.about__image{
  width: 220px;
  border-radius: 1.5rem;
  justify-self: center;
}

.about__data{
  text-align: center;
}

.about__info{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: .8rem;
  margin-bottom: 2rem;
}

.about__box{
  background-color: var(--container-color);
  padding: .75rem .5rem;
  border-radius: .75rem;
}

.about__icon{
  font-size: 1.5rem;
  color: var(--first-color);
  margin-bottom: .5rem;
}

.about__title{
  font-size: var(--small-font-size);
}

.about__subtitle{
  font-size: var(--tiny-font-size);
}

.about__description{
  margin-bottom: 2rem;
}




/*--------------- SKILLS ---------------*/
.skills__container {
  row-gap: 2.5rem;
  padding-top: 1rem;
}

.skills__content{
  /* display: grid; */
  /* grid-template-columns: repeat(2, 1fr); */
  /* gap: 1.5rem; */
  background-color: var(--container-color);

padding: 1.5rem;
border-radius: 1.25rem;
}

.skills__title{
  font-size: var(--normal-font-size);
  color: var(--first-color);
  font-weight: var(--font-medium);
  text-align: center;
  margin-bottom: 1.5rem;
}

.skills__box{
  display: flex;
  justify-content: center;
  column-gap: 2.5rem;
}

.skills__group{
  display:grid;
  align-content: flex-start;
  row-gap: 1rem;
}

.skills__data{
  display: flex;
  column-gap: .5rem;
}

.skills .fa-circle-check{
  font-size: 1.5rem;
  color: var(--first-color);
}

.skills__name{
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
  line-height: 20px;
}

.skills__level{
  font-size: var(--tiny-font-size);
}






/*--------------- SERVICES ---------------*/
.services__container{
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
  padding-top: 1rem;
  padding:1.25rem;
}

.services__card{
  background-color: var(--container-color);
  padding: 3rem 1.5rem 1.5rem;
  border-radius: 1rem;
}

.services__title{
  color: var(--first-color);
  font-size: var(--small-font-size);
  margin-bottom: 2.5rem;
  display: flex;
  align-items: center;
  column-gap: .25rem;
}
.services__button{
  cursor: pointer;
}


.services__button:hover .services__icon{
  transform: translateX(.5rem);
  /* cursor: pointer; */
}

.services__icon{
  font-size: 1.5rem;
  transition: .4s;
}



/* Services modal */
.services_modal{
  position: fixed;
  inset: 0;
  display: grid;
  background-color: hsla(var(--second-hue), 28%, 16%, .7);
  padding: 2rem 1rem;
  place-items: center;
  transition: .4s;
  z-index: var(--z-modal);
  visibility: hidden;
  opacity: 90%;
}

.services_modal-content{
  position: relative;
  background-color: var(--body-color);
  padding: 4.5rem 1.5rem 2.5rem;
  border-radius: 1.5rem;
}

.services_modal-title, .services_modal-description{
  text-align: center;
}

.services_modal-title{
  font-size: var(--h3-font-size);
  color: var(--first-color);
  margin-bottom: 1rem;
}

.services_modal-description{
  font-size: var(--small-font-size);
  margin-bottom: 2rem;
}

.services_modal-item{
  display: flex;
  align-items: flex-start;
  column-gap: .8rem;
}

.services_modal-icon{
  margin-top: .7rem;
  font-size: 1rem;
  color: var(--first-color);
}

.services_modal-info{
  font-size: var(--small-font-size);
}

.fa-xmark{
  position: absolute; 
  top: 1.5rem;
  font-size: 1.5rem;
  cursor: pointer;
}






/*Active modal*/
/* Main.js */
.services_modal-active{
  opacity: 1;
  visibility: visible;
}



/*--------------- WORK ---------------*/
.work__container{
  padding-top: 1rem;
}

.work__filters{
  display:flex;
  justify-content: center;
  align-items: center;
  column-gap: .75rem;
  margin-bottom: 2rem;
}

.work__item{
  color: var(--title-color);
  cursor: pointer;
  padding: .25rem .75rem;
  border-radius: .5rem;
  font-weight: var(--font-medium);
}

.work__card{
  background-color: var(--container-color);
  padding: 1rem;
  border-radius: 1rem;
}

.work__image{
  border-radius: 1rem;
  margin-bottom: .75rem;
}

.work__title{
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
  margin-bottom: .25rem;
}

.work__button{
  width: max-content;
  font-size: var(--small-font-size);
  /*display: flex;*/
  align-items: center;
  column-gap: 2.5rem;
}



.work__button:hover .work__icon{
  transform: translateX(.5rem);
}

.work__icon{
  font-size: 1rem;
  transition: .4s;
}


/* Active item work*/
.active-work{
  background-color: var(--first-color);
  color: var(--body-color);
}

/*--------------- TESTIMONIAL ---------------*/
.testimonial__card{
  background-color: var(--container-color);
  padding:1.25rem 4.5rem;
  border-radius: 1.5rem;
  margin-bottom: 3rem;
}

.testimonial__image{
  width: 60px;
  border-radius: 3rem;
  margin-bottom: 1rem;
}

.testimonial__name{
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
  margin-bottom: .25rem;
}

.testimonial__description{
  font-size: var(--small-font-size);
}






/* Swiper class */
.swiper-pagination-bullet{
  background-color: var(--text-color-light);
}

.swiper-pagination-bullet-active{
  background-color: var(--first-color);
}

.swiper-button-next, .swiper-button-prev{
  color: var(--first-color);
}





/*--------------- CONTACT ---------------*/


/*--------------- FOOTER ---------------*/


/*--------------- SCROLL BAR ---------------*/


/*--------------- BREAKPOINTS ---------------*/
/* For small devices */


/* For medium devices */


/* For large devices */